<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devis et Facturation</title>
    <%- include('partials/font') %>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<%- include('partials/sidebar') %>
<div class="content">
    <div class="text-container">
        <h1>Factures</h1>
        <a href="/factures/new_factures" class="new-button">
            <img src="/images/plus.svg" alt="nouveau">
            Nouveau
        </a>
    </div>
    <div class="content-container">

    </div>
</div>
</body>
<script src="/assets/index.js"></script>
</html>