<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devis et Facturation</title>
    <%- include('partials/font') %>
</head>
<body>
<%- include('partials/sidebar') %>
<div class="content">
    <div class="new_text">
        <button type="button"><img src="/images/close_black.svg" alt="close"></button>
        Nouveau Devis
    </div>
    <div class="formcontainer">
        <form action="">
            <div class="step1">
                <div class="detail-container">
                    <label for="nom_client">Client</label>
                    <input type="text" name="nom_client" maxlength="30" required>
                </div>
                <div class="detail-container">
                    <label for="id_devis">Numéro de devis</label>
                    <input type="number" min="0" name="id_devis" max="99999999" required>
                </div>
                <div class="detail-container">
                    <label for="date_devis">Date</label>
                    <input type="date" name="date_devis" required>
                </div>
            </div>
            <hr>
            <div class="step2">
                <div class="rows-container" id="row1">
                    <div class="detail-container">
                        <label for="description1">Description</label>
                        <input type="text" name="description1" maxlength="100" required>
                    </div>
                    <div class="detail-container">
                        <label for="quantite1">Quantité</label>
                        <input type="number" min="0" name="quantite1" required>
                    </div>
                    <div class="detail-container">
                        <label for="prix">Prix</label>
                        <input type="number" min="0" name="prix1" required>
                    </div>
                    <div class="detail-container">
                        <label for="tva">TVA</label>
                        <input type="number" min="0" name="tva1" max="99" required>
                    </div>
                </div>
                <button type="button" class="plusbutton">
                    <img src="/images/plus-black.svg" alt="plus">
                </button>
                <button type="button" id="submit"> Creer </button>
            </div>
        </form>
    </div>
</div>
<script src="/assets/fornew.js"></script>
</body>