<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devis et Facturation</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<%- include('partials/sidebar') %>
<div class="content">
    <div class="new_text">
        <button type="button"><img src="/images/close_black.svg" alt="close"></button>
        Nouveau Client
    </div>
    <div class="formcontainer">

    </div>
</div>
<script src="/assets/fornew.js"></script>
</body>