body {
    display: flex;
    font-family: "Lexend", sans-serif;
    flex-direction: row;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    font-size: 18px;
    color: white;
    gap: 20px;
    padding: 10px;
    transition: 0.3s ease;
    user-select: none;
}

input, select, textarea, button {
    font-family: inherit;
}

a:hover {
    border-radius: 8px;
    background-color: #4454C9;
}

a img {
    height: 25px;
    width: 25px;
}

.nav_container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    gap: 10px;
}

.nav_link.active{
    background-color: #4454C9;
    border-radius: 8px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #171C42;
    width: 215px;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    background-color: #F4F9FC;
}

.text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px;
    transition: ease 0.5s;
}
.text-container h1 {
    color: #212121;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    flex-grow: 1;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}
.content-container.centerempty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}

.new-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    font-size: 15px;
    background-color: #2949FF;
    height: 22px;
    width: 95px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    gap: 5px;
}

.new-button img {
    height: 18px;
    width: 18px;
}

.new-button:hover {
    opacity: 0.80;
    border-radius: 15px;
}

.devis-info {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 40px;
}
h5 {
    margin: 0;
    padding: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
}
.devis-info h5 {
    font-weight: 500;
    width: 150px;
    text-align: center;
}

.empty-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}
.empty-div img {
    height: 150px;
    width: 150px;
    opacity: 0.7;
}
.empty-div h2 {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
    margin: 0;
    padding: 1px 0;
}
.empty-div h2:first-of-type {
    margin-top: 20px;
}

.devis-unit {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    gap: 40px;
    cursor: pointer;
}
.devis-unit:hover {
    background-color: #FDFDFD;
}

.devis-unit h5 {
    font-weight: 380;
    width: 150px;
    text-align: center;
}
.status_text {
    border-radius: 10px;
    color: white;
}
.devis-unit img {
    height: 20px;
    width: 20px;
}
.devis-unit button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    transition: ease 0.2s;
    cursor: pointer;
    border-radius: 15px;
}
.devis-unit button:hover {
    background-color: #e9ecef;
}
.buttons-container {
    display: flex;
    margin-left: auto;
    gap: 20px;
    padding: 0 20px;
}

/* new_devis css */
.new_text {
    display: flex;
    align-items: center;
    font-size: 28px;
    padding: 15px;
    font-weight: 400;
    color: #262626;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.new_text img {
    height: 35px;
    width: 35px;
}

.new_text button {
    background: none;
    border: none;
    border-right: 1px solid black;
    margin-right: 50px;
    cursor: pointer;
}

.formcontainer {
    flex-grow: 1;
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin: 30px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
    padding: 10px 20px ;
}
.detail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rows-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.formcontainer input {
    border: none;
    background-color: #F3F3F3;
    border-radius: 10px;
    height: 35px;
    padding-left: 15px;
}

.step1 .detail-container {
    margin: 10px 0;
    width: 300px;
}

.formcontainer hr {
    opacity: 0.3;
    margin-top: 25px;
    margin-bottom: 15px;
}

.rows-container > div:first-child {
    width: 400px;
}
.rows-container div {
    width: 100px;
}
.step2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.step2 button {
    border: none;
    background: none;
    padding: 0;
    height: 22px;
    width: 22px;
    margin: 15px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.closebutton {
    align-self: end;
}
.span {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.step2 button:hover {
    transform: scale(1.1);
}

.step2 button img {
    height: 22px;
    width: 22px;
}

.total-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.totalinfo div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.totalinfotext {
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.totalinfo hr {
    margin: 10px 0;
    padding: 0;
}
.totalcontenttext {
    font-weight: 350;
    margin: 0;
    padding: 0;
}

#submit {
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    color: #2949FF;
    height: 40px;
    width: 100px;
    border: 3px solid #2949FF;
    border-radius: 10px;
    transition: ease 0.5s;
}
#submit:hover {
    scale: 1.1;
}

/* devis showed in devis page */
.main-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 30px;
    background-color: #F4F9FC;
}
.main-info h4 {
    margin: 0;
}
.title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    margin: 15px 0;
}
.title-header a {
    all: revert;
    font-size: 13px;
    color: black;
    font-weight: 400;
}
.title-header h4 {
    font-size: 18px;
    font-weight: 600;
}
.first-header {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.first-header h4 {
    padding: 5px 0;
    font-weight: 400;
}
.product-info {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.product-info > div {
    display: flex;
    flex-direction: row;
}
.product-info h5 {
    width: 150px;
}
.product-headers {
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
}
.product-headers h5 {
    padding: 5px 0;
    font-weight: 500;
    text-align: center;

}
.product-details h5 {
    padding: 5px 0;
    font-weight: 400;
    text-align: center;}
.totalall {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-self: end;
}
.totalall div {
    display: flex;
    flex-direction: row;
}
.totalall h5 {
    width: 100px;
    padding: 5px 5px;
    text-align: end;
}
.totalall div h5:first-child {
    text-align: end;
    font-weight: 500;
    width: 60px;
}
.info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}
#totalttc {
    background-color: #CED7EC;
    color: black;
    border-radius: 10px;
}
/* */

.first-header input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 2px 0;
    width: 300px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}
.product-details input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 2px 2px;
    min-width: 93px;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
}
#submitedit {
    cursor: pointer;
    width: 90px;
    padding: 5px 0;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: black;
    transition: ease 0.3s;
}
#submitedit:hover {
    opacity: 0.8;
}
#devisdownload {
    cursor: pointer;
    text-decoration: underline;
}